
@{
    ViewBag.Title = "CustomerFavList";
}
<head>
    <style>
        .table1 {
            background-color: white;
            padding: 25px 25px;
            border-color:white;
            width: 100%;
            text-align: "left";
        }
    </style>
</head>
<h2>My Favorite Movies</h2>
<br />
@Html.ActionLink("Movies","MovieCustomer","Home")
@Html.ActionLink("Favorites","CustomerFavList","Home")
</br><br />
<table id="table1" border="0">
    <tr>
        <th> Title&nbsp;&nbsp;&nbsp;</th>
        <th>Box Office&nbsp;&nbsp;&nbsp;</th>
        <th>Genre&nbsp;&nbsp;&nbsp;</th>
        <th> Action</th>
    </tr>
        @foreach (var item in Model)

        {<tr>
             <td><br />@Html.Encode(item.M_Title)&nbsp;&nbsp;&nbsp;</td>
             <td><br />@Html.Encode(item.M_Boxoffice)&nbsp;&nbsp;&nbsp;&nbsp;</td>
             <td><br />@Html.Encode(item.Genre)&nbsp;&nbsp;&nbsp;</td>
            <td><br />@Html.ActionLink("Delete","DeleteFavMovie",new { id = item.M_Id })</td>
        </tr>
        }
 
</table>
<br />
<font style="color:green"><b>No. of Favorites : </b>@ViewBag.Message</font>

