
@{
    ViewBag.Title = "Login";
}


<table align="left" border="0">
    <tr>
        

        <br />
        <br />
        <br />
        <br />


        @using (Html.BeginForm("Login", "Home", FormMethod.Post))
        {
        <table>
            @Html.Label("UserId     ")&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            @Html.TextBox("uname")&nbsp;
            <br />
            <br />
            @Html.Label("Password  ")&nbsp;

            @Html.Password("pwd")&nbsp;
            <br />
            @ViewBag.Message
            <br />
            &nbsp;&nbsp;
            &nbsp;&nbsp;
            &nbsp;&nbsp;
            &nbsp;
            &nbsp;
            <button>Login</button>
            <br />
        </table>
                <br />
            @Html.ActionLink("New User?", "NewUser", "Home")

        }

</table>
