
@{
    ViewBag.Title = "MovieCustomerNotification";
}
<head>
    <style>
        .table1 {
            background-color: white;
            padding: 25px 25px;
            border-color: white;
            width: 100%;
            text-align: "left";
            column-span:all;
        }
    </style>
</head>
@Html.ActionLink("Movies","MovieCustomer","Home")
@Html.ActionLink("Favorites","CustomerFavList","Home")
<br /><br />
      <font style="color:green"><b>@ViewBag.Message</b></font>
<br /><br />
<table id="table1" border="0">
    <tr>
        <th>Title&nbsp;&nbsp;&nbsp;</th>
        <th>Box Office&nbsp;&nbsp;&nbsp;</th>
        <th>Genre&nbsp;&nbsp;&nbsp;</th>
        <th>Has Teaser?&nbsp;&nbsp;&nbsp;</th>
        <th>Action&nbsp;&nbsp;&nbsp;</th>
    </tr>
    @foreach(var item in Model)
    {
    <tr>
        <td><br />@Html.Encode(item.M_Title)&nbsp;&nbsp;&nbsp;</td>
        <td><br />$@Html.Encode(item.M_BoxOffice)&nbsp;&nbsp;&nbsp;</td>
        <td><br />@Html.Encode(item.Genre)&nbsp;&nbsp;&nbsp;</td>
        @if (item.M_HasTeaser == true)
        {
        <td><br />@Html.Encode("Yes")&nbsp;&nbsp;&nbsp;</td>
        }
        @if (item.M_HasTeaser == false)
        {
        <td><br />@Html.Encode("No")&nbsp;&nbsp;&nbsp;</td>
        }
        <td><br />@Html.ActionLink("Add to Favorites","FavListSuccess",new { id = item.M_Id })</td>
    </tr>
    }
</table>

