
@{
    ViewBag.Title = "MovieCustomer";
}
<head>
    <style>
        #table1 {
            background-color: white;
            padding: 25px 25px;
            font-size: 100%;
            width: 100%;
            text-align: "left";
        }
    </style>
</head>
<h2><b><font color="green"> Customer Login Success!!</b></font></h2>

@Html.ActionLink("Movies", "MovieCustomer", "Home")
@Html.ActionLink("Favorites", "CustomerFavList", "Home")
<table id="table1">
    <h2>Movies</h2>
    <tr>
        <th>Title</th>
        <th>Box office</th>
        <th>Genre</th>
        <th>Has Teaser?</th>
        <th>Action</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td><br />@Html.Encode(item.M_Title)</td>
            <td><br />$@Html.Encode(item.M_BoxOffice)</td>
            <td><br />@Html.Encode(item.Genre)</td>
            @if (item.M_HasTeaser == true)
            {
                <td><br />@Html.Encode("Yes")<br /></td>
            }
            @if (item.M_HasTeaser == false)
            {
                <td><br />@Html.Encode("No")<br /></td>
            }
            <td><br />@Html.ActionLink("Add to Favorites", "FavListSuccess", new { id = item.M_Id })<br /></td>
        </tr>
    }
</table>

