@model MovieCruiser.Customer
@{
    ViewBag.Title = "NewUser";
}
<head>
    <style>
        #table1 {
            background-color: white;
            padding: 25px 25px;
            font-size: 150%;
            width: 100%;
            text-align: "left";
        }
    </style>
</head>

@Html.ActionLink("Login", "Login", "Home")

@using (Html.BeginForm("NewUser", "Home"))
{
<table id="table1">
    <tr>
        <td> @Html.LabelFor(m => m.Customerid)</td> <br />
        @Html.TextBoxFor(m => m.Customerid)
    </tr>
    <tr> 
        <td>@Html.LabelFor(m => m.CustomerName)</td>
    <br />
    @Html.TextBoxFor(m => m.CustomerName)        </tr>
    @Html.LabelFor(m => m.DateofBirth)
    <br />
    @Html.TextBoxFor(m => m.DateofBirth)
    @Html.LabelFor(m => m.Email)
    <br />
    @Html.TextBoxFor(m => m.Email)
    @Html.LabelFor(m => m.Password)
    @Html.PasswordFor(m => m.Password)
    <br />
    <button>Register</button>
    @ViewBag.Message
</table>
}


