@model MovieCruiser.Customer
@{
    ViewBag.Title = "NewUser";
}
<head>
    <style>
        table1 {
            background-color: white;
            padding: 25px 25px;
            font-size: 150%;
            width: 100%;
            text-align: "left";
        }
    </style>
</head>

@Html.ActionLink("Login", "Login", "Home")

@using (Html.BeginForm("NewUser", "Home"))
{

    <br /><br />

    @Html.LabelFor(m => m.Customerid)<br />
    @Html.TextBoxFor(m => m.Customerid)<br />
    <br />
    @Html.LabelFor(m => m.CustomerName)<br /><br />

    @Html.TextBoxFor(m => m.CustomerName)<br /><br />

    @Html.LabelFor(m => m.DateofBirth)<br /><br />

    @Html.TextBoxFor(m => m.DateofBirth)<br /><br />

    @Html.LabelFor(m => m.Email)<br /><br />

    @Html.TextBoxFor(m => m.Email)<br /><br />

    @Html.LabelFor(m => m.Password)<br /><br />
    @Html.PasswordFor(m => m.Password)<br /><br />
    <br /><br />
    <button>Register</button><br />
    @ViewBag.Message

}


